* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body {
    position: relative;
}

/* start_form_button */

.start_form_button {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    border: none;
    border-radius: 5px;
    outline: none;
}

.start_form_button_link {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.65px;
    border-radius: 5px;
    background-color: #20b08d;
}

#site_form:target {
    opacity: 1;
    pointer-events: auto; 
}



/* FORM CONTAINER*/

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 300px;
    padding: 1.2vw 2.3vw;
    border-radius: 5px;
    z-index:100; 
    opacity:0;
    pointer-events: none; 
    overflow: auto;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.65px;
    background-color: #1bbc9b;
}

.container::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 30.5%;
    width: 15px;
    height: 15px;
    transform:  rotate(45deg);
    background-color: #f5f8ff;
}

.greetting_page_item {
    float: left;
}

/* __LOGO__ */

.logo {
    width: 30%;
}

.logo_picture {
    display: block;
    margin: 0 auto 10px auto;
    width: 40%;
    height: 40%;
    max-width: 100%;
}

.logo_text {
    font-weight: bold;
    color: #fdfdff;
    letter-spacing: -0.65px;
    text-align: center;
}


/* __FORM__ */

.form_wrap {
    width: 70%;

}

.form {
    margin: 0 auto;
    max-height: 80vh;
    overflow: auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f5f8ff;
}

p {
    margin: 20px 0 0;
}

/*~close_form_button~*/

.close_form_button {
    margin-bottom: 2px;
    margin-left: 97%;
    padding: 3px 4px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #f5f8ff;
}

.close_form_button_icon {
    width: 10px;
    height: 10px;
    fill: #20b08d;
}

/*~radio-checkbox~ & ~checkbox~*/

.checkbox_status {
    display: block;
}

.radio,
.checkbox {
	display: none;
}

.radio-custom,
.checkbox_status-custom {
    position: relative;
    display: inline-block;
	border: 2px solid #20b08d;
}

.radio-custom {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.checkbox_status-custom {
	width: 10px;             
    height: 10px;          
    margin-right: 5px;
	border-radius: 30%;
}

.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #20b08d;
	border-radius: 2px;
}

.checkbox:checked + .checkbox_status-custom::before {
	content: "\2713";            
	display: block;			 
	position: absolute;     
	top: -150%;
	right: -70%;
    color: #000;
}

/*~input~ & ~select~*/

.input_wrap {
    position: relative;
}

.input_label {
    display: block;
    margin: 20px 0 0;
}

.skills_and_technologies_select {
    overflow: hidden;
}

.input_name,
.input_email,
.month_and_year_select {
    height: 30px;
}

.input_name,
.input_email,
select,
textarea {
    border: 2px solid #f5f8ff;
    outline: none;
    border-radius: 5px;
}

.input_name,
.input_email {
    width: 100%;
    padding: 0 5px;
}

.input_name_icon,
.input_email_icon {
    position: absolute;
    top: 47%;
    right: 10%;
    height: 20px;
    width: 30px;
    fill: #bdc7c8;
}

.input_name:focus,
.input_email:focus,
select:focus,
textarea:focus {
    border: 2px solid #20b08d;
}

.input_name:focus ~ svg,
.input_email:focus ~ svg {
    fill: #20b08d;
}


/*~photo upload~ & ~save button~*/

.photo_upload_wrap,
.save_button {
    width: 50%;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.65px;
    background-color: #20b08d;
}

.photo_upload_wrap {
    position: relative; 
    overflow: hidden;
    height: 35px;
}

.photo_upload_label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.photo_upload_input {
    display: none;
}

.photo_upload_text{
    display: block;
    padding: 10px;
    overflow: visible;
}

.save_button {
    display: block;
    border: none;
    margin-top: 20px;
    padding: 10px;
}

.comments {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

/* ~~~~~~~ */

@media (max-width: 770px) {
    .photo_upload_wrap,
    .save_button {
        font-size: 2vw;
    }
}
