@import'./variables.scss';

.about {
    padding: vw_size(129) 0 vw_size(110);
    background-color: $light-color-lighter1;

    &__heading {
        text-align: center;
        padding-bottom: vw_size(147);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 0 35px;
    }

    &__slider,
    &__articles {
        width: calc(50% - 3.51vw);

    }

    &__articles {
        padding: 5px 33px;
        text-align: justify;
    }

    &__article {
        & + & {
            margin-top: 40px;
        }
    }

    @include scale(768px) {
        &__info {
            flex-direction: column;
            align-items: center;
        }

        &__slider,
        &__articles {
            width: 100%;
    
        }

        &__slider {
            margin-bottom: vw_size(50);
        }

        &__secondary-heading {
            text-align: center;
        }

    }

}

