@import './variables.scss';

.article {
     
    &__heading {
        margin-bottom: vw_size(27);

        &_prime {
            margin-bottom: 31px;
        }
    }

    &__paragraph {
        & + & {
            margin-top: vw_size(45);
        }
    }
}