@import './variables.scss';

.button {
    display: inline-block;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: $primiry-heading-light;
    font-size: 13px;
    font-weight: bold;
    color: $main-dark-color;
    text-decoration: none;
    letter-spacing: 2.16px;
    cursor: pointer;
    transition: 300ms linear;    
}