@import './variables.scss';

.button {
    display: inline-block;
    padding: vw_size(20);
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: $primiry-heading;
    font-size: 13px;
    font-weight: 700;
    color: $main-dark-color;
    text-decoration: none;
    letter-spacing: 2.16px;
}