@import'./variables.scss';

.contacts {
    background: url('./../img/contact_background.jpg') center center no-repeat;
    background-size: contain;
    padding: vw_size(122) 0;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__form,
    &__info {
        background-color: $dark-color;
        opacity: 0.71;
        box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
    }

    &__form {
        width: calc(60% - 30px);
        padding: vw_size(45) vw_size(33) vw_size(40);
        color: rgba($color: $main-light-color, $alpha: .7);
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        padding: vw_size(35) vw_size(20) vw_size(20);

    }

    &__details {
        margin-bottom: vw_size(25);
    }

    &__map {
        height: 50%;
        width: 100%;
    }

    @include scale(768px) {
        &__content {
            flex-direction:column; 
        }

        &__form,
        &__info {
            width: 100%;
        }

        &__form {
            margin-bottom: 20px;
        }
    }
}