@import'./variables.scss';
.customers {
    padding: vw_size(110) 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & + & {
            padding-top: vw_size(45);
        }
    }

    &__label {
        display: inline-flex;

        & + & {
            margin-left: vw_size(80);
        }
    }

}