@import'./variables.scss';

.gallery {
    $gallery: &;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    &__item {
        position: relative;
        width: calc(33.33% - 15px);
        margin-bottom: 15px;

        &:hover,
        &:focus {
            #{$gallery}__comment {
               display:  block;
            }
        }
    }

    &__image {
        width: 100%;
        max-width: 100%;
    }

    &__comment {
        display: none;
        position: absolute;
        top: 35%;
        bottom: vw_size(15);
        right: vw_size(18);
        left: vw_size(18);
        padding-top: vw_size(43);
        padding-right:  15%;
        padding-bottom: (50px + $icon-height);
        padding-left: vw_size(38);
        background-color: $bright-color;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            transform: translateY(-100%);
            width: 0;
            height: 0;
            border-width: 0 10px 20px 10px;
            border-color: transparent transparent #6DF6EB transparent;
            border-style: solid;
        }
    }

    &__text {
        overflow: auto;
        max-height: 100%;
    }

    &__socials {
        position: absolute;
        bottom: 42px;
    }

    &__link {
        text-decoration: none;

        & + & {
            margin-left: 12px;
        }

        &:hover {
            #{$gallery}__icon {
                fill: $dark-color-lighter2;
            }
        }
    }

    &__icon {
        width: $icon-width;
        height: $icon-height;
        opacity: 0.7;
    }

    @include scale(850px) {
        &__comment {
            top: vw_size(15);
            padding-bottom: (30px + $icon-height);
            
            &::before {
                display: none;
            }
        } 

        &__socials {
            bottom: 15px;
        }
    }

    @include scale(768px) {
        &__item {
            width: calc(50% - 15px);
        }
    }
}