@import './variables.scss';

.primiry-heading {
    font-family: $primiry-heading;
    font-size: 28px;
    font-weight: 700;
    color: $main-dark-color;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.28px;
}

.secondary-heading {
    font-family: $secondary-heading;
    color: $main-dark-color;
    font-size: 17px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.08px;

    &_s {
        font-size: 14px;
    }

    &_bold {
        font-family: $secondary-heading-bold;
    }
}