@import'./variables.scss';

.item {
    $item: &;

    position: relative;
    display: inline-flex;

    &__image {
        max-width: 100%;
        width: 100%;
        height: 100%;   
    }

    &__preview,
    &__info {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        line-height: 25px;
    }

    &__preview {
        justify-content: flex-end;
        padding-top: vw_size(55);
        padding-right: 25%;
        padding-left: vw_size(65);
        padding-bottom: (55px + $item-link);
        color: rgba($color: $main-light-color, $alpha: 0.9);
        background: rgba($color: $main-dark-color, $alpha: 0.65);
    }

    &__info {
        justify-content: space-between;
        padding-top: vw_size(65);
        padding-right: 25%;
        padding-left:vw_size(65);
        padding-bottom: (53px + $item-close-button);
        color: $main-dark-color;
        background: $bright-color;
    }

    &__content {
        overflow: auto;
        max-height: 100%;
        padding-bottom: vw_size(55);
    }

    &__nav {
        position: absolute;
        bottom:55px;
        transform: translateY(50%);
        left: vw_size(65);
        cursor: pointer;
    }

    &__openlink {
        position: relative;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        color: $light-color-lighter2;
        transition: 400ms;

        &::after {
            content: '\2192';
            position: absolute;
            left: 120%;
            font-size: 25px;
            opacity: 0.7;
        }

        &:hover {
            color: $bright-color-lighter;
        }
    }

    &__close-button {
        transition: 300ms;

        &:hover {
            fill: $main-light-color;
        }

    }
    
}