@import'./variables.scss';

.nav-menu {
    $nav-menu: &;
    position: relative;

    
    &__container {
        display: none;
        position: absolute;
        top: 130%;
        right: 0;
        font-family: $primiry-heading-light;
        text-align: right;
        background-color: rgba($color: $bright-color-lighter, $alpha: .7);
    }

    &__list{
        list-style: none;
        padding-right: 15px;
    }

    &__item {
        & + & {
            margin-top: 10px;
        }
    }

    &__link {
        color: $main-dark-color;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: $gray-color; 
            text-decoration: underline;
        }
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 400ms;
    }

    &__icon {
        display: block;
        position: relative;
        width: 90%;
        height: 4px;
        background: rgba($color: $main-dark-color, $alpha: .6) ;
        border-radius: 3px;
        transition: 400ms;
    
        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background: rgba($color: $main-dark-color, $alpha: .6);
            border-radius: 3px;
            transition: 400ms;
        }
        &::after {
          top: 8px;
        }
        &::before {
          top: -8px;
        }
    }


    &__checkbox {
        display: none;

        &:checked ~ {

            #{$nav-menu}__container {
                display: block;
            }

            #{$nav-menu}__button {
                #{$nav-menu}__icon {
                    background: transparent;
    
                    &::before,
                    &::after {
                        top: 0;
                    }
    
                    &::after {
                        transform: rotate(-45deg);
                    }
    
                    &::before {
                        transform: rotate(45deg);
                    }
                }   
            }

        }
    }

}
