@import'./variables.scss';

.photo-slider {
    text-align: center;

    &__content {
        position: relative;
        display: inline-block;
    }

    &__image {
        z-index: 5;
        width: 100%;
        max-width: 100%;
        position: relative;
        display: inline-block;
        text-align: center;
        padding: 0 9%;
    }

    &__background {
        z-index: 1;
        position: absolute;
        background: $light-color;
        top: 7%;
        bottom: 7%;
        right: 0;
        left: 0;
    }

    &__controlers {
        padding: vw_size(43) 0 2px;
    }
}