@import'./variables.scss';

.slider {
    $slider: &;

    display: flex;
    justify-content: space-between;

    &__image {
        max-width: 40%
    }

    &__text-block {
        max-width: 58%;
        padding-top: 3%;
    }

    // &__controlers {
    //     padding-top: 30px;
    //     align-self: flex-end;
    //     text-align: end;
    // }
}