@import './variables.scss';

.testimonials {
    padding: vw_size(139) 0 vw_size(121);
    background-color: $light-color-lighter2;

    &__heading {
        text-align: center;
        padding-bottom: vw_size(137);
    }
}