@import'./variables.scss';

.testimonial {
    $testimonial: &;
    position: relative;


    &__heading {
        padding-bottom: 23px;
        
        &_primary {
            padding-bottom: vw_size(30);
            letter-spacing: 0.9px;
        }
    }

    &__text {
        line-height: 1.5;
        padding-bottom: 10px;
    }

    &__author-post {
        font: 14px/1 $secondary-heading;
        font-weight: 400;
        font-style: italic;
        color: $dark-color-lighter2;
        letter-spacing: 0.45px;
    }

  
    &__rating {
        padding-top: vw_size(33);
    }

    &__icon {
        width: $icon-width;
        height: $icon-height;
        opacity: 0.7;
    }

    @include scale(452px) {
        &__text {
            font-size: 10px;
        }
    }
}