//colors

$main-blue-color: #709dca;
$mid-blue-color: #c2e1ff;
$cold-blue-color: #8eb8e2;
$light-blue-color: #e7edf3;
$bright-blue-color: #1ca8dd;
$main-dark-color: #394b50;
$mid-dark-color: #6e6e6e;
$smooth-dark-color: #868686; 
$smooth-dark-color2: #818b95;
$main-gray-color: #7b7b7b;
$mid-gray-color: #a9a9a9;
$light-gray-color: #aeb7ba;
$light-gray-color2: #b5bbc1;
$light-gray-color3: #99a9ae;
$lighter-gray-color: #dedfe0;
$lighter-gray-color2: #e2e9f0;
$smooth-gray-color: #cbcbcb;
$smooth-gray-color2: #ccd5df;
$main-orange-color: #ffbb42;
$mid-orange-color: #e7ad48;
$light-orange-color: #ffc155;
$darker-orange-color:#f6772c;
$light-color: #fff;
 
//  text-color

$light-text-color:  $light-color;
$dark-text-color: $main-dark-color;
$gray-text-color: $main-gray-color;

// background-color

$cold-background-color: $main-blue-color;
$light-cold-background-color: $light-blue-color;
$warm-background-color:  $main-orange-color;
$light-warm-background-color:  $light-orange-color;

//icon-color
$icon-color: $main-blue-color;
$icon-hover: $darker-orange-color;
$icon-hover-light: $light-orange-color;


// sizes

$input_icon_size: 41px;
$input_line_height: 1;
$input_font_size: 10px;
$input_padding: 18px;

$slider_arrows_size: 25px;
$slider_controler_size: 12px;

$service_padding-left: 80px;
$service_icon_size: 40px;

$testimonial_margin-top: 20px;
$testimonial_margin-left: 20px;

$step_icon_size: 57px;


//mixins & functions

@function get_vw_size($size) {
    $screen: 1552;
    @return($size / $screen) * 100vw;
}

@mixin scale($width, $diff: 'less') {
    $behaviour: max-width;
    $screen-width: $width;

    @if ($diff == 'less') {
        $screen-width: $width - 1;
    }

    @if ($diff == 'self-above') {
        $behaviour: min-width;
    }

    @media screen and (#{$behaviour}: $screen-width) {
        @content;
       
    }   
}
