 //  text-color

$dark-text-color: #394b50;

$gray-text-color: #7b7b7b;
$mid-gray-text-color:  #868686;
$light-gray-text-color: #a9a9a9;

$light-text-color: #fff;
$smooth-light-text-color: #c2e1ff;

$bright-text-color:  #f6772c;


// background-color

$cold-background-color: #709dca;

$light-cold-background-color: #e7edf3;

$warm-background-color: #ffc155;

$light-warm-background-color: #ffbb42;

// sizes

$input_icon_size: 41px;
$input_line_height: 1;
$input_font_size: 10px;
$input_padding: 18px;


//mixins & functions

@function get_vw_size($size) {
    $screen: 1552;
    @return($size / $screen) * 100vw;
}

@mixin scale($width, $diff: 'less') {
    $behaviour: max-width;
    $screen-width: $width;

    @if ($diff == 'less') {
        $screen-width: $width - 1;
    }

    @if ($diff == 'self-above') {
        $behaviour: min-width;
    }

    @media screen and (#{$behaviour}: $screen-width) {
        @content;
       
    }   
}
