@import "./variables.scss";

.section-boost-up {
    padding-top: 6.47vw;
    background-color: $cold-background-color;

    &__content {
        position: relative;
    }

    &__form {
        padding: 1.8vw 0 20.6vw;
    }

    &__slider-wrapper {
        position: absolute;
        bottom: get_vw_size(-61);
        left: 50%;
        transform: translateX(-50%);
    }
}


.slider {
    $self: &;

    &__slider-block,
    &__slider-controls {
        display: inline-block;
    }

    &__slider-block {
        position: relative;

        &:hover {
            #{$self}__left-arrow,
            #{$self}__right-arrow {
                display: block;
            }
        }

    }

    &__background-image {
        height: get_vw_size(343);
        width: get_vw_size(647); 
    }

    &__image {
        position: absolute;
        top: get_vw_size(18);
        left: get_vw_size(102);
        height: get_vw_size(264);
        width: get_vw_size(445);
    }

    &__left-arrow,
    &__right-arrow {
        position: absolute;
        top: get_vw_size(139);
        display: none;
        color: $light-text-color;
        font-size: get_vw_size(25);
    }

    &__left-arrow {
        left: get_vw_size(40);
    }

    &__right-arrow {
        right: get_vw_size(40);
    }
    
    &__slider-controls {
        position: absolute;
        top: get_vw_size(367);
        left: 50%;
        transform: translateX(-50%);    
    }

    &__controler {
        display: inline-block;
        font-size: get_vw_size(12);
        color: #dedfe0;
    }

    &__controler:hover {
        color: #1ca8dd;
    }
}
