@import "./variables.scss";

.choos-price {
    padding: get_vw_size(137) 0 get_vw_size(164);
    background-color: $light-cold-background-color;

    &__heading-text {
        color: #75888d;
        margin-bottom: 2.88vw;   
    }

    &__price-card-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        width: 100%;
    }

    @include scale(601px) {

        &__price-card-list {
            flex-wrap: wrap;
        }

        &__item {
            & + & {
                margin-top: 20px;
            }
        }
    }
}
