@import "./_variables.scss";

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 13px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;    
}

.logo{
    width: 50px;
    height: 48px;

    &__image {
        max-width: 100%;
    }
}

.heading,
.heading-text {
    text-align: center;

    &_light-style {
        color: $light-text-color;
    }

    &_dark-style{
        color: $dark-text-color;
    }

}

.heading {
    font-family: "Gotham-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.88px;

}

.heading-text {
    margin-top: get_vw_size(2);
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: get_vw_size(12) get_vw_size(21);
        font-family: "Lato";
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        text-decoration: none; 
        text-transform: uppercase;
        color: $dark-text-color;
        
        &_top {
            color: $mid-gray-text-color;
        }

        &_top:hover {
            border-radius: 3px;
            color: $light-text-color;
            background-color: $light-warm-background-color;
        } 

    }

    &_top {
        align-self: center;
    }

}

.slider {
    $self: &;

    &__slider-block,
    &__slider-controls {
        display: inline-block;
    }

    &__slider-block {
        position: relative;

        &:hover {
            #{$self}__left-arrow,
            #{$self}__right-arrow {
                display: block;
            }
        }

    }

    &__background-image {
        height: get_vw_size(343);
        width: get_vw_size(647); 
    }

    &__image {
        position: absolute;
        top: get_vw_size(18);
        left: get_vw_size(102);
        height: get_vw_size(264);
        width: get_vw_size(445);
    }

    &__left-arrow,
    &__right-arrow {
        position: absolute;
        top: get_vw_size(139);
        display: none;
        color: $light-text-color;
        font-size: get_vw_size(25);
    }

    &__left-arrow {
        left: get_vw_size(40);
    }

    &__right-arrow {
        right: get_vw_size(40);
    }
    
    &__slider-controls {
        position: absolute;
        top: get_vw_size(367);
        left: 50%;
        transform: translateX(-50%);    
    }

    &__controler {
        display: inline-block;
        font-size: get_vw_size(12);
        color: #dedfe0;
    }

    &__controler:hover {
        color: #1ca8dd;
    }
}

.client-form {
    display: flex;
    margin: auto;
    justify-content: center;
    color: $light-gray-text-color;

    &__wrapper,
    &__button {
        width: 25%;
    }

    &__wrapper{
        position: relative;
        display: inline-block;
        margin-right: 10px;

        &_newsletter-name {
            width: 33%;
        }

        &_newsletter-email {
            width: 42%;
        }
    }


    &__name-pic,
    &__email-pic,
    &__phone-pic {
        position: absolute;
        top: 30%;
        left: 5%;
        z-index: 1;
    }

    &__item {
        padding: 10px 10px 10px 40px;
        border: 1px solid #cbcbcb;
        font-size: 10px;
        line-height: 1; 
        width: 100%;
    }
}

.page-button {
    padding: 0;
    display: inline-block;
    border: none;
    border-radius: 3px;
    background-color: $light-warm-background-color;

    &__link {
        display: inline-block;
        padding: get_vw_size(16); 
        font-size: 10px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;

        &_newsletter,
        &_boost-up {
            padding: 10px;
        }

        &_about-us {
            padding: 1vw;
        }
    }

    &__link:hover {
        text-decoration: underline;
    }



    &_about-us {
        width: 29%;
        border: 1px solid #e7ad48;
        background-color: $warm-background-color;   
    }

    &_choos-price {
        width: 50%;
    } 

    &_how-it-works {
        display: block;
        width: 14%;
        margin: 0 auto;
        text-align: center;    
    }
}

.geo-tag {
    position: relative;

    &__сontact-details {
        position: absolute;
        top: get_vw_size(65);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: get_vw_size(142);
        padding: 0 2px;
        color: #aeb7ba;
        text-align: center;
        font-size: get_vw_size(13);
        line-height: 1.5;
    }

    &__heading {
        margin-bottom: get_vw_size(20);
        font-family: "Lato";
        color: $light-text-color;
        font-size: get_vw_size(15);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__e-mail-link {
        color: $light-warm-background-color;
        text-decoration: none;
    }



    &__board {
        position: relative;
        width: get_vw_size(292);
        height: get_vw_size(292);
        background-color: $dark-text-color;
        border-radius: 50%;
    }

    &__board::after {
        content: "";
        position: absolute;
        right: 45%; 
        top: 100%;
        border: get_vw_size(10) solid transparent;
        border-left: get_vw_size(20) solid $dark-text-color;
        transform: rotate(90deg);
    }

}


@media (max-width: 710px) {

    .page-button {
        &__link {
            &_boost-up {
                font-size: 7px;
            }
        }
    }
}


@media (max-width: 580px) {

    .client-form {

        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
        
        &__wrapper,
        &__button {
            max-width: 100%; 
            width: 100%;   
            align-self: center;
        }

        &__wrapper{
            margin-right: 0;
        }

        &__wrapper:not(:first-of-type) {
            margin-top: 10px;
        } 

        &__item {
            padding-left: 50px;
        }
    }

    .page-button {
        &__link {
            padding: 10px;
            
            &_boost-up {
                font-size: 10px;
            }
        }

        &_newsletter,
        &_boost-up {
            margin-top: 10px;
        }

        &_how-it-works {
            width: 50%;
        }
    
    }
}