@import "./_variables.scss";

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 13px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;    
}

.heading,
.heading-text {
    text-align: center;
    color: $dark-text-color;


    &_light {
        color: $light-text-color;
    }
}

.heading {
    font-family: "Gotham-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.88px;

}

.heading-text {
    margin-top: get_vw_size(2);
    font-size: 16px;
    font-weight: 300;
    line-height: 1;

    &_our-services {
        margin-bottom: get_vw_size(90);
    }
}