@import "./_variables.scss";

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 13px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;    
}

.logo{
    width: 50px;
    height: 48px;

    &__image {
        max-width: 100%;
    }
}

.heading,
.heading-text {
    text-align: center;
    color: $dark-text-color;


    &_light {
        color: $light-text-color;
    }
}

.heading {
    font-family: "Gotham-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.88px;

}

.heading-text {
    margin-top: get_vw_size(2);
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.nav-menu {
    $nav-menu: &;

    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: get_vw_size(12) get_vw_size(21);
        font-family: "Lato";
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        text-decoration: none; 
        text-transform: uppercase;
        color: $dark-text-color;        
    }

    &_top {
        align-self: center;

        #{$nav-menu}__link {
            color: $mid-gray-text-color;
        }

        #{$nav-menu}__link:hover {
            border-radius: 3px;
            color: $light-text-color;
            background-color: $light-warm-background-color;
        }
    }
}

.slider {
    $self: &;

    &__block,
    &__controls {
        display: inline-block;
    }

    &__block {
        position: relative;
    }

    &__background {
        position: relative;
        max-width: get_vw_size(647);
        min-width: get_vw_size(647);
        min-height: get_vw_size(343);
        background: url("../img/laptop.png") no-repeat;
        background-size: cover;

        &:hover {
            #{$self}__left-arrow,
            #{$self}__right-arrow {
                display: block;
            }
        }
    }

    &__image {
        position: absolute;
        top: get_vw_size(18);
        left: get_vw_size(102);
        height: get_vw_size(264);
        width: get_vw_size(445);
    }

    &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        width: vw(80);
    }

    &__left-arrow,
    &__right-arrow {
        position: absolute;
        top: get_vw_size(139);
        display: none;
        color: $light-text-color;
        font-size: get_vw_size(25);
    }

    &__left-arrow {
        left: get_vw_size(40);
    }

    &__right-arrow {
        right: get_vw_size(40);
    }
    
    &__controls {
        position: absolute;
        top: get_vw_size(367);
        left: 50%;
        transform: translateX(-50%);    
    }

    &__controler {
        display: inline-block;
        font-size: get_vw_size(12);
        color: #dedfe0;
    }

    &__controler:hover {
        color: #1ca8dd;
    }
}

.form {
    $form: &;

    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    color: $light-gray-text-color;

    &_newsletter {
        #{$form}__row:last-child{
            width: 50%;
        }
    }

    &__row {
        display: flex;
        width: 100%;
        justify-content: center;

        & + & {
            margin-left: 10px;
        }
    }

    &__item {
        width: 100%;

        & + & {
            margin-left: 10px;
        }
    }

    @include scale(779px) {
        flex-wrap: wrap;

        &__row {
            & + & {
                margin-left: 0;
                margin-top: 10px;
            }
        } 
    }

    @include scale(779px) {
        &_newsletter {

            #{$form}__row:last-child{
                width: 100%;
            }

            #{$form}__row {
                flex-wrap: wrap;
            }
   
            #{$form}__item:not(:first-child) {        
                margin-top: 10px;
            }

            #{$form}__item {
                margin-left: 0;
            }
        }
    }

    @include scale(526px) {
        &__row{
            flex-wrap: wrap;
        }

        &__item {        
            & + & {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}

.input {
    position: relative;

    &__field {
        height: $input_padding*2 + $input_font_size*$input_line_height;
        width: 100%;
        padding: $input_padding $input_padding $input_padding $input_icon_size;
        border: 1px solid #cbcbcb;
        border-radius: 3px;
        color: $light-gray-text-color;
        font-size: $input_font_size;
        line-height: $input_line_height;

        &::placeholder {
            color: $light-gray-text-color;
        }

        &_submit {
            padding: $input_padding;
            border: transparent;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: $light-warm-background-color;  
        }
    }

    &__icon {
        position: absolute;
        bottom: $input_padding;
        left: $input_icon_size/2;
        color: #6e6e6e;
    }
}

.page-button {
    padding: 0;
    display: inline-block;
    border: none;
    border-radius: 3px;
    background-color: $light-warm-background-color;

    &__link {
        display: inline-block;
        padding: get_vw_size(16); 
        font-size: 10px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;

        &_newsletter,
        &_boost-up {
            padding: 10px;
        }

        &_about-us {
            padding: 1vw;
        }
    }

    &__link:hover {
        text-decoration: underline;
    }



    &_about-us {
        width: 29%;
        border: 1px solid #e7ad48;
        background-color: $warm-background-color;   
    }

    &_choos-price {
        width: 50%;
    } 

    &_how-it-works {
        display: block;
        width: 14%;
        margin: 0 auto;
        text-align: center;    
    }
}

.geo-tag {
    position: relative;

    &__сontact-details {
        position: absolute;
        top: get_vw_size(65);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: get_vw_size(142);
        padding: 0 2px;
        color: #aeb7ba;
        text-align: center;
        font-size: get_vw_size(13);
        line-height: 1.5;
    }

    &__heading {
        margin-bottom: get_vw_size(20);
        font-family: "Lato";
        color: $light-text-color;
        font-size: get_vw_size(15);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__e-mail-link {
        color: $light-warm-background-color;
        text-decoration: none;
    }



    &__board {
        position: relative;
        width: get_vw_size(292);
        height: get_vw_size(292);
        background-color: $dark-text-color;
        border-radius: 50%;
    }

    &__board::after {
        content: "";
        position: absolute;
        right: 45%; 
        top: 100%;
        border: get_vw_size(10) solid transparent;
        border-left: get_vw_size(20) solid $dark-text-color;
        transform: rotate(90deg);
    }

}


@include scale(711px) {
    .page-button {
        &__link {
            &_boost-up {
                font-size: 7px;
            }
        }
    }

}

@include scale(581px) {

    .client-form {

        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
        
        &__wrapper,
        &__button {
            max-width: 100%; 
            width: 100%;   
            align-self: center;
        }

        &__wrapper{
            margin-right: 0;
        }

        &__wrapper:not(:first-of-type) {
            margin-top: 10px;
        } 

        &__item {
            padding-left: 50px;
        }
    }

    .page-button {
        &__link {
            padding: 10px;
            
            &_boost-up {
                font-size: 10px;
            }
        }

        &_newsletter,
        &_boost-up {
            margin-top: 10px;
        }

        &_how-it-works {
            width: 50%;
        }
    }
}