@import "./variables.scss";

.happy-clients {
    background-color: $warm-background-color;
    padding: get_vw_size(141) 0 get_vw_size(160);

    &__testimonials {
        padding-top: 3.41vw;
    }

    &__row {
        display: flex;

        & + & {
           margin-top: $testimonial_margin-top;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        width: 100%;

        & + & {
            margin-left: $testimonial_margin-left;
        }
    }
    
    @include scale(601px) {
        &__row {
            flex-wrap: wrap;
        }

        &__item {
            & + & {
                margin-left: 0;
                margin-top:  $testimonial_margin-top;
            }
        }
    }
}