@import "./variables.scss";

.how-it-works {
    padding: get_vw_size(155) 0 get_vw_size(149);
    text-align: center;

    &__list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: get_vw_size(78) 0 get_vw_size(91);
    }

    &__row {
        display: flex;

        & + & {
            margin-left: get_vw_size(88);
        }
    }

    &__item {
        padding-top: 20px;

        & + & {
            margin-left: get_vw_size(88);
        }
    }

    &__button {
        display: inline-block;
    }

    &__image-arrow1,
    &__image-arrow2,
    &__image-arrow3 {
        position: absolute;
        max-width: 150px;
        width: get_vw_size(150);
    }

    &__image-arrow1,
    &__image-arrow3 {
        top: get_vw_size(78);
    }

    &__image-arrow1 {
        left: 18%;
    }

    &__image-arrow2 {
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__image-arrow3 {
        right: 17%;
    }

    @include scale(779px) {
        &__list {
            flex-wrap: wrap;
        }

        &__row {

            & + & {
                margin-left: 0;
                margin-top: 20px;
            }
        }

        &__image-arrow3 {
            display: none;
        }

        &__image-arrow1,
        &__image-arrow2 {
            width: 150px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__image-arrow2 {
            top: 60%;
        }
    }

    @include scale(526px) {
        &__row {
            flex-wrap: wrap;
        }

        &__item {
            padding: 0 50px;

            & + & {
                margin-left: 0;
                margin-top: 20px;
            }
        }

        &__image-arrow1,
        &__image-arrow2,
        &__image-arrow3 {
            display: none;
        }
    }
}
