.input {
    position: relative;

    &__field {
        height: $input_padding*2 + $input_font_size*$input_line_height;
        width: 100%;
        padding: $input_padding $input_padding $input_padding $input_icon_size;
        border: 1px solid #cbcbcb;
        border-radius: 3px;
        color: $light-gray-text-color;
        font-size: $input_font_size;
        line-height: $input_line_height;

        &::placeholder {
            color: $light-gray-text-color;
        }

        &_submit {
            padding: $input_padding;
            border: 1px solid transparent;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: $light-warm-background-color;  
        }
        
        &_submit:hover {
            text-decoration: underline;
            color: $light-warm-background-color;
            background-color: $light-text-color;
            border: 1px solid $light-warm-background-color;
        }

    }

    &__icon {
        position: absolute;
        bottom: $input_padding;
        left: $input_icon_size/2;
        color: #6e6e6e;
    }
}