@import "./variables.scss";

.section-newsletter {
    padding-top: get_vw_size(154);

    &__form {
        margin-top: get_vw_size(38);
        padding: 0 2vw;
        width: 90%;
    }

    &__map {
        position: relative;
        height: get_vw_size(549);
        margin-top: get_vw_size(53);
        padding: 0 get_vw_size(34);
        background-image: url("../img/newsletter_background.png");
        background-size: contain ;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__geo-tag-wrapper,
    &__logo-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__geo-tag-wrapper {

        top: get_vw_size(40);
    }

    &__logo-wrapper {
        top: get_vw_size(338);
        width: get_vw_size(50);
        height: get_vw_size(48);
    }
}
