@import "./variables.scss";

.our-services {
    padding-top: get_vw_size(203);
    padding-bottom: get_vw_size(155);
    
    &__row{
        display: flex;

        & + & {
           margin-top:  get_vw_size(80);
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        width: 100%;

        & + & {
            margin-left: get_vw_size(108);
        }
    }

    @include scale(526px) {
        &__row {
            flex-wrap: wrap;
        }

        &__item {
            & + & {
                margin-left: 0;
                margin-top:  get_vw_size(80);
            }
        }
    }
}