@import "./variables.scss";

.page-header {
    padding: get_vw_size(23) 0;

    &__content {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 580px) {
    .page-header {
        &__content {
            flex-direction: column;
        }
    }
}