@import "./variables.scss";

.page-footer {
    border-top: 1px solid #e3e7ec;
    padding-top: 4vw;
    text-align: center;

    &__contacts {
        padding: get_vw_size(29) 0 get_vw_size(53);  
    }

    &__phone-number {
        font-family: "Lato";
        font-size: 17px;
        line-height: 1;
        color: $dark-text-color;
    }

    &__phone-icon {
        margin-right: 7px;
    }

    &__social-media {
        display: block;
        padding-top: 1.4vw;
    }

    &__social-media-icon {
        display: inline-block;
        padding: 0 .3vw;
        font-size: 13px;
        color: $icon-color;     
    }

    &__social-media-icon:hover {
        color: $icon-hover-light;
    }

    &__copyright {
        padding: 1vw 0;
        font-size: 10px;
        line-height: 1;
        color: $light-text-color;
        background-color: $cold-background-color;
    }
}