@import "./variables.scss";

.page-header {
    padding: get_vw_size(23) 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
    }
}