// fonts
@font-face {
    font-family: "Gotham-Black";
    src: url("../fonts/Gotham-Black.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/BrandonGrotesque-Thin.ttf");
}

@import "./common-rules.scss";
@import "./page-header.scss";
@import "./boost-up.scss";
@import "./our-services.scss";
@import "./about-us.scss";
@import "./choos-price.scss"; 
@import "./how-it-works.scss"; 
@import "./happy-clients.scss";
@import "./newsletter.scss";
@import "./page-footer.scss";
