  @font-face { 
    font-family: 'Economica-Bold';
    src: url('../fonts/Economica/Economica-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;

} 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.nav-menu_wrapper {
    background-color: #a64dff;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
}

.nav-menu_item {
    display: inline-block;
}


.nav-menu_item_link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Economica';
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
}

.nav-menu_item_link:hover {
    background-color: #eee;
    color: #a6a4a5;
}