@font-face {
    font-family: "Gotham-Black";
    src: url("../fonts/Gotham-Black.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/BrandonGrotesque-Thin.ttf")
}

/*
~~~ COMMON CSS RULES~~~
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 13px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* section heading & heading-text */

.heading,
.heading-text {
    text-align: center;
}

.heading {
    font-family: "Gotham-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.88px;
}

.heading-text {
    margin-top: 0.6vw;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.light-style {
    color: #fff;
}

.dark-style {
    color: #394b50;
}

/* page-button & page-button_link*/

.page-button {
    padding: 0;
    display: inline-block;
    border: none;
    border-radius: 3px;
    background-color: #ffbb42;
}

.page-button_link {
    display: inline-block;
    padding: 1.2vw;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

}

.page-button_link:hover {
    text-decoration: underline;
}

/* client-form */

.client-form {
    color: #a9a9a9;
}

.client-form_item_wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.fa-client-form_item_name-pic,
.fa-client-form_item_email-pic,
.fa-client-form_item_phone-pic {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 1;
}

.client-form_item {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #cbcbcb;
    font-size: 10px;
    line-height: 1;
}

/* nav-menu */

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu_item {
    display: inline-block;

}

.nav-menu_item_link {
    display: inline-block;
    padding: 0.6vw 1.2vw;
    font-family: "Lato";
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #868686;
}

/* 
~~~SECTIONS~~~
*/

/* page-header */

.page-header_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.3vw 0;
}

.page-header_logo-image_wrapper {
    width: 4.3%;
}
.page-header_logo-image {
    width: 100%;
    max-width: 100%;
}

.page-header-menu {
    align-self: center;
}
.page-header-menu .nav-menu_item_link:hover {
    border-radius: 3px;
    color: #fff;
    background-color: #ffbb42;
}

/* boost-up */

.boost-up {
    background-color: #709dca;
}

.boost-up_section-wrapper {
    padding-top: 6.5vw;
}

.boost-up_form {
    padding: 1.8vw 0 20.6vw;
    text-align: center;
}

.boost-up_form > .client-form_item_wrapper {
    margin-bottom: 10px;
}

.boost-up_form_button_link{
    padding: 10px;
    border: 1px solid #ffbb42;
}

.boost-up_slider-wrapper{
    position: relative;
    margin-top: 5.29vw;
    background-color: #fff;
}

.boost-up_slider_block {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.boost-up-slider_img {
    width: 90%;
    max-width: 100%;
}

/* our-services */

.our-services_section-wrapper {
    padding: 6.2vw 0 9.1vw;
}

.our-services_list {
    padding-top: 5.3vw;
}

.our-services_list_item {
    display: inline-block;
    max-width: 49%;
    margin-top: 4.4vw;
    padding-right: 5.3vw;
    vertical-align: top;
}

.our-services_list_item:nth-of-type(1),
.our-services_list_item:nth-of-type(2) {
    margin-top: 0;
} 

.our-services_list_item_icon {
    display: inline-block;
    vertical-align: top;
}

.our-services_list_item_wrapper {
    display: inline-block;
    max-width: 80%;
    padding-left: 2.4vw;
}

.our-services_list_item_heading {
    margin-bottom: 1.2vw;
    font-family: "Lato";
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.fa-our-services_list_item_icon {
    font-size: 44px;
    text-shadow: -2px 0 #709dca, 0 2px #709dca, 2px 0 #709dca, 0 -2px #709dca;
}

.fa-our-services_list_item_icon:hover{
    text-shadow: -2px 0 #f6772c, 0 2px #f6772c, 2px 0 #f6772c, 0 -2px #f6772c;
}

/* about-us */
.about-us {
    background-color: #ffc155;
    display: flex;
    align-items: stretch;
}

.about-us_image {
    display: block;
    max-width: 100%;
    width: 50%;
}

.about-us_section-wrapper {
    max-width: 850px;
    margin: 0 auto;
}

.about-us_wrapper {
    display: inline-block;
    width: 65%;
    padding: 9.6vw 0 10.3vw 4.7vw;
}

.about-us_heading {
    text-align: left;
    margin-bottom: 1.8vw;
}

.about-us_text {
    font-weight: 400;
    color: #fff;
    padding-bottom: 1.8vw;
}

.about-us_button {
    width: 35%;
    border: 1px solid #e7ad48;
    background-color: #ffc155;
}

/* choos-price */

.choos-price {
background-color: #e7edf3;
}

.choos-price_section-wrapper {
    padding: 8.2vw 0 9.7vw;
    font-size: 0;
}

.choos-price_heading-text {
    color: #75888d;
    margin-bottom: 2.9vw;
}

.price-card {
    width: 33.33%;
    max-width: 33.33%;
    display: inline-block;
    padding: 3.5vw 1.8vw 2.9vw;
    border: 1px solid #ccd5df;
    border-radius: 3px;
    font-family: "Lato";
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    vertical-align: middle;

}

.price-card_heading {
    padding-bottom: 1.8vw;
    font-size: 18px;
    line-height: 1;
    color: #818b95;
}

.price-card_price {
    font-size: 3.5vw;
    font-weight: bold;
    color: #ffbb42;
}

.price-card_price > sup {
    font-size: 1.8vw;
    font-weight: normal;
}

.price-card_period {
    color: #818b95;
}

.price-card_description-list {
    padding: 1.8vw 0 2.1vw;
    list-style: none;
}

.price-card_description-list_item {
    padding: 0.9vw 0;
    border-top: 1px solid #e2e9f0;
    color: #b5bbc1;
}
.price-card_button {
    width: 50%;
}

.best-offer-card {
    width: 40%;
    padding: 5.3vw 0 4.7vw;
    background-color: #709dca;
    border: none;
}

.best-offer-card > .price-card_heading,
.best-offer-card > .price-card_price,
.best-offer-card > .price-card_period {
    color: #fff;
}

.best-offer-card > .price-card_description-list_item {
    color: #c2e1ff;
    border-top: 1px solid #8eb8e2;
}

/* how-it-works */

.how-it-works {
    padding: 9.1vw 0 8.8vw;
}

.how-it-works_wrapper {
    position: relative;
    padding: 4.7vw 0 5.3vw;
}

.step-card-arrow1,
.step-card-arrow2,
.step-card-arrow3 {
    position: absolute;
}

.step-card-arrow1,
.step-card-arrow3 {
    top: 10%;
}
.step-card-arrow1 {
    left: 18%;
}

.step-card-arrow2 {
    top: 30%;
    left: 41%;
}

.step-card-arrow3 {
    right: 20%;
}

.step-card {
    display: inline-block;
    width: 24%;
    padding: 0 3%;
    text-align: center;
}

.fa-step-card_image {
    font-size: 62px;
    text-shadow: -2px 0 #709dca, 0 2px #709dca, 2px 0 #709dca, 0 -2px #709dca;
}

.step-card_heading {
    padding: 5.9vw 0 1.8vw;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #394b50;
    text-transform: uppercase;
}

.step-card_text {
    color: #7b7b7b;
}

.how-it-works_button {
    display: block;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

/* happy-clients */

.happy-clients {
    background-color: #ffc155;
}

.happy-clients_section-wrapper {
    padding: 8.2vw 0 9.4vw;
}

.happy-clients_testimonials {
    padding-top: 3.5vw;
    font-size: 0;
}

.happy-clients_testimonial {
    display: inline-block;
    max-width: 48%;
    margin-top: 20px;
    padding: 2.6vw 0.6vw 2.9vw 1.8vw;
    vertical-align: top;
    font-size: 13px;
    background-color: #fff;
}

.happy-clients_testimonial:nth-of-type(odd) {
    margin-right: 20px;
}

.happy-clients_testimonial:nth-of-type(even) {
    margin-left: 20px;
}

.happy-clients_testimonial:nth-of-type(1),
.happy-clients_testimonial:nth-of-type(2) {
    margin-top: 0;
}

.happy-clients_avatar-wrapper,
.happy-clients_testimonial_wrapper {
    display: inline-block;
}

.happy-clients_avatar-wrapper {
    width: 25%;
    vertical-align: top;
}

.happy-clients_avatar {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}


.happy-clients_testimonial_wrapper {
    width: 74%;
}

.quote-decoration_open-wraper {
    display: inline-block;
    width: 3%;
    vertical-align: top;
}

.quote-decoration_open,
.quote-decoration_close {
    quotes: "\201F" "\201C"
}

.quote-decoration_open::before {
    content: open-quote;
    font-family: "Brandon Grotesque";
}

.quote-decoration_close::after {
    content: close-quote;
    display: block;
    font-family: "Times New Roman";
    text-align: end;
}

.quote-decoration_open::before,
.quote-decoration_close::after {
    font-weight: 700;
    font-size: 30px;
}

.quote-decoration_open::before,
.quote-decoration_close::after,
.happy-clients_testimonial_text {
    color: #7b7b7b;
}

.happy-clients_testimonial_text,
.happy-clients_testimonial_author {
    display: inline-block;
    width: 94%;
}

.happy-clients_testimonial_text {
    padding-top: 3%;
    padding-left: 2%;
} 

.happy-clients_testimonial_author {
    padding-left: 6%;  
}

.happy-clients_testimonial_author-name,
.happy-clients_testimonial_author-post {
    font-family: "Lato";
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

.happy-clients_testimonial_author-name {
    color: #f6772c;
}

.happy-clients_testimonial_author-post {
    color: #99a9ae;
}

/* newsletter */

.newsletter_heading-text {
    margin-bottom: 2.4vw;
}

.newsletter_section-wrapper {
    padding-top: 8.8vw;
}

.newsletter_form {
    display: flex;
    justify-content: space-around;
    padding: 0 2vw;
    width: 100%;
    text-align: center;
}

.newsletter_form_item_wrapper-name,
.newsletter_form_item_wrapper-email {
    margin-right: 10px;
    align-self: center;
}

.newsletter_form_item_wrapper-name,
.newsletter-form_button {
    flex-grow: 1;
}

.newsletter_form_item_wrapper-email {
    flex-grow: 2;
}

.newsletter-form_button_link {
    padding: 10px;
}

.newsletter_form_item_wrapper-name-pic {
    left: 5%;
}

.newsletter_form_item_wrapper-email-pic {
    left: 3%;
}

.newsletter_form_item {
    text-overflow: ellipsis;
}

.newsletter_image {
    margin-top: 3.2vw;
    max-width: 100%;
    width: 100%;
}

/* page-footer */

.page-footer_wrapper {
    border-top: 1px solid #e3e7ec;
    padding-top: 4.1vw;
    text-align: center;
}

.page-footer-menu .nav-menu_item_link {
    color: #394b50;
}

.page-footer_contacts {
    padding: 1.8vw 0 2.9vw;
}

.page-footer_phone-number {
    font-family: "Lato";
    font-size: 17px;
    line-height: 1;
    color: #394b50;
}

.page-footer_social-media {
    display: block;
    padding-top: 1.4vw;
}

.fa-page-footer_social-media {
    display: inline-block;
    padding: 0 .3vw;
    font-size: 18px;
    color: #709dca;
}

.fa-page-footer_social-media:hover {
    color: #ffc155;
}

.page-footer_copyright {
    padding: 1.2vw 0;
    line-height: 1;
    color: #fff;
    background-color: #709dca;
}


/* 

~~~ MEDIA REQUESTS~~~

*/

@media (max-width: 1024px) {
    /* boost-up */

    .boost-up_form {
        padding: 1.8vw 0 30vw;
    }

    /*our-services  */
    .our-services_list {
        padding-right: 2.6vw;
        padding-left: 2.6vw;
    }

    /* about-us */

    .about-us {
        flex-direction: column;
    }

    .about-us_wrapper {
        width: 100%;
        padding: 9.6vw 4.7vw 10.3vw;
    }

    .about-us_wrapper,
    .about-us_heading {
        text-align: center;
    }

    .about-us_image {
        width: 100%;
    }

}


@media (max-width: 1010px) {
    /* happy-clients */
    
    .happy-clients_testimonials {
        text-align: center;
    }

    .happy-clients_testimonial {
        max-width: 60%;
    }

    .happy-clients_testimonial:nth-of-type(odd) {
        margin-right: 0;
    }
    
    .happy-clients_testimonial:nth-of-type(even) {
        margin-left: 0;
    }
    
    .happy-clients_testimonial:nth-of-type(2) {
        margin-top: 20px;
    }
        
}

@media (max-width: 940px) {
    /* how-it-works */

    .step-card-arrow1,
    .step-card-arrow2,
    .step-card-arrow3 {
        width: 10%;
    }
}

@media (max-width: 770px) {
    /* our-services */

    .our-services_list_item_icon {
        display: block;
        margin-bottom: 20px;
        padding-right: 2.6vw;
        padding-left: 2.6vw;
    }

}

@media (max-width: 580px) {
    /* page-header */

    .page-header_wrapper {
        flex-direction: column;
    }

    /* choos-price */

    .price-card {
        width: 40%;
        max-width: 40%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .price-card:not(:first-of-type) {
        margin-top: 20px;
    }

    /* how-it-works */

    .step-card-arrow1,
    .step-card-arrow2,
    .step-card-arrow3 {
        display: none;
    }
}

@media (max-width: 480px) {
    /* newsletter */

    .newsletter-form_button_link {
        font-size: 7px;
    }
}


    