@import "./variables.scss";

.section-about-us {
    background-color: #ffc155;
    display: flex;
    align-items: stretch;

    &__image {
        display: block;
        max-width: 100%;
        width: 50%;  
    }

    &__content {
        max-width: 850px;
        width: 50%; 
        margin: 0 auto;
    }

    &__text-wrapper {
        width: 69%;
        padding: 9.6vw 0 10.3vw 4.71vw;  
    }

    &__text {
        font-weight: 400;
        color: #fff;
        padding-bottom: 1.94vw;
        font-size: 11px;
        line-height: 1.9;
    }

    &__heading {
        text-align: left;
        margin-bottom: 1.6vw;
    }
}

@media (max-width: 1024px) {

    .section-about-us {
        flex-direction: column;

        &__image,
        &__content,
        &__text-wrapper {
            width: 100%;
        }

        &__text-wrapper,
        &__heading {
            text-align: center;
        }

        &__text-wrapper {
            padding: 9.6vw 4.7vw 10.3vw;
        }

    }
}