@import "./variables.scss";

.section-boost-up {
    padding-top: 6.47vw;
    background-color: $cold-background-color;

    &__form {
        padding: 1.8vw 0 20.6vw;
    }

    &__slider-wrapper {
        position: relative;
        margin-top: 5.29vw;
        background-color: $light-text-color;
    }

    &__slider-block {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__image {
        width: 90%;
        max-width: 100%;  
    }
    
}