@import "./variables.scss";

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 13px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo_top {
    width: 4.3%;
}

.logo_top .logo__image {
    width: 100%;
    max-width: 100%;
}

.heading,
.heading-text {
    text-align: center;

    &_light-style {
        color: $light-text-color;
    }

    &_dark-style{
        color: $dark-text-color;
    }

}

.heading {
    font-family: "Gotham-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.88px;

}

.heading-text {
    margin-top: 0.6vw;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: 0.72vw 1.2vw;
        font-family: "Lato";
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        text-decoration: none; 
        text-transform: uppercase;
        color: $dark-text-color;
        
        &_top {
            color: $mid-gray-text-color;
        }

        &_top:hover {
            border-radius: 3px;
            color: $light-text-color;
            background-color: $light-warm-background-color;
        } 

    }

    &_top {
        align-self: center;
    }

}

.client-form {
    display: flex;
    margin: auto;
    justify-content: center;
    color: $light-gray-text-color;


    &__wrapper {
        position: relative;
        display: inline-block;
        max-width: 100%;    
    }

    &__name-pic,
    &__email-pic,
    &__phone-pic {
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 1;
    }

    &__item {
        max-width: 100%;
        margin-right: 10px;
        align-self: center;
        padding: 10px 10px 10px 40px;
        border: 1px solid #cbcbcb;
        font-size: 10px;
        line-height: 1; 
    }
}

.page-button {
    padding: 0;
    display: inline-block;
    border: none;
    border-radius: 3px;
    background-color: $light-warm-background-color;

    &__link {
        display: inline-block;
        padding: 0.94vw; 
        font-size: 10px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;

        &_newsletter,
        &_boost-up {
            padding: 10px;
        }

        &_about-us {
            padding: 1vw;
        }
    }

    &__link:hover {
        text-decoration: underline;
    }



    &_about-us {
        width: 29%;
        border: 1px solid #e7ad48;
        background-color: $warm-background-color;   
    }

    &_choos-price {
        width: 50%;
    } 

    &_how-it-works {
        display: block;
        width: 14%;
        margin: 0 auto;
        text-align: center;    
    }
}

.geo-tag {
    position: relative;

    &__сontact-details {
        position: absolute;
        top: get_vw_size(65);
        left: get_vw_size(69);
        width: get_vw_size(142);
        z-index: 2;
        color: #aeb7ba;
        text-align: center;
        font-size: get_vw_size(13);
    }

    &__heading {
        margin-bottom: get_vw_size(20);
        font-family: "Lato";
        color: $light-text-color;
        font-size: get_vw_size(15);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__e-mail {
        color: $light-warm-background-color;
    }

    &__board {
        position: relative;
        width: get_vw_size(292);
        height: get_vw_size(292);
        background-color: $dark-text-color;
        border-radius: 50%;
    }

    &__board::after {
        content: "";
        position: absolute;
        right: 46%; 
        top: 100%;
        border: get_vw_size(10) solid transparent;
        border-left: get_vw_size(20) solid $dark-text-color;
        transform: rotate(87deg);
    }

}


@media (max-width: 710px) {

    .page-button {
        &__link {
            &_boost-up {
                font-size: 7px;
            }
        }
    }
}


@media (max-width: 580px) {

    .client-form {

        flex-wrap: wrap;

        &__wrapper {
            margin-top: 10px;
        } 
    }

    .page-button {
        &__link {
            &_boost-up {
                font-size: 10px;
            }
        }

        &_newsletter,
        &_boost-up {
            margin-top: 10px;
        }
    }
}