@import "./variables.scss";

.section-how-it-works {
    padding: 9.11vw 0 8.76vw;

    &__cards {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 6.2vw 0 5.3vw;
    }

    &__image-arrow1,
    &__image-arrow2,
    &__image-arrow3 {
        position: absolute;
    }

    &__image-arrow1,
    &__image-arrow3 {
        top: 10%;
        }

    &__image-arrow1 {
        left: 18%;
    }

    &__image-arrow2 {
        top: 30%;
        left: 41%;
    }

    &__image-arrow3 {
        right: 20%;
    }

    &__step-card {
        width: 24%;
        padding: 0 3%;
        text-align: center;
    }

    &__image-icon {
        font-size: 57px;
        text-shadow: -2px 0 $cold-background-color, 0 2px $cold-background-color, 2px 0 $cold-background-color, 0 -2px $cold-background-color;   
    }

    &__heading {
        padding: 6vw 0 1.64vw;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        color: $dark-text-color;
        text-transform: uppercase;   
    }

    &__text {
        color: $gray-text-color;
    }
}

