@import "./variables.scss";

.page-header {
    padding: 1.2vw 0;

    &__content {
        display: flex;
        justify-content: space-between;
    }
}

.logo_top {
    width: 4.3%;
}

.logo_top .logo__image {
    width: 100%;
    max-width: 100%;
}

.nav-menu { 
    &_top {
    align-self: center;
    }

    &__link {
        &_top {
            color: $mid-gray-text-color;
        }

        &_top:hover {
            border-radius: 3px;
            color: $light-text-color;
            background-color: $light-warm-background-color;
        } 

    }

}
