@import "./variables.scss";

.page-header {
    padding: 1.2vw 0;

    &__content {
        display: flex;
        justify-content: space-between;
    }
}

.logo_top {
    width: 4.3%;
}

.logo_top .logo__image {
    width: 100%;
    max-width: 100%;
}

.nav-menu_top {
    align-self: center;
}

.nav-menu_top .nav-menu__link:hover {
    border-radius: 3px;
    color: $light-text-color;
    background-color: $light-warm-background-color;
}
