.page-header {
  padding: 1.2vw 0;
}

.page-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_top {
  width: 4.3%;
}

.logo_top .logo__image {
  width: 100%;
  max-width: 100%;
}

.nav-menu_top {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-menu_top .nav-menu__link:hover {
  border-radius: 3px;
  color: #fff;
  background-color: #ffbb42;
}

.section-boost-up {
  background-color: #709dca;
}

.section-boost-up__content {
  padding-top: 6.47vw;
}

.section-boost-up__form {
  padding: 1.8vw 0 20.6vw;
}

.section-boost-up__slider-wrapper {
  position: relative;
  margin-top: 5.29vw;
  background-color: #fff;
}

.boost-up_form_button_link {
  padding: 10px;
}

.boost-up_slider_block {
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.boost-up-slider_img {
  width: 90%;
  max-width: 100%;
}

@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/BrandonGrotesque-Thin.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 13px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading,
.heading-text {
  text-align: center;
}

.heading_light-style,
.heading-text_light-style {
  color: #fff;
}

.heading_dark-style,
.heading-text_dark-style {
  color: #394b50;
}

.heading {
  font-family: "Gotham-Black";
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.88px;
}

.heading-text {
  margin-top: 0.6vw;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu__item {
  display: inline-block;
}

.nav-menu__link {
  display: inline-block;
  padding: 0.72vw 1.2vw;
  font-family: "Lato";
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: #868686;
}

.client-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a9a9a9;
}

.client-form__wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.client-form__name-pic, .client-form__email-pic, .client-form__phone-pic {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 1;
}

.client-form__item {
  max-width: 100%;
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 10px 10px 40px;
  border: 1px solid #cbcbcb;
  font-size: 10px;
  line-height: 1;
}

.page-button {
  padding: 0;
  display: inline-block;
  border: none;
  border-radius: 3px;
  background-color: #ffbb42;
}

.page-button__link {
  display: inline-block;
  padding: 0.94vw;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.page-button__link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=task1.css.map */