//  text-color

$dark-text-color: #394b50;

$gray-text-color: #7b7b7b;
$mid-gray-text-color:  #868686;
$light-gray-text-color: #a9a9a9;

$light-text-color: #fff;
$smooth-light-text-color: #c2e1ff;

$bright-text-color:  #f6772c;


// background-color

$cold-background-color: #709dca;

$light-cold-background-color: #e7edf3;

$warm-background-color: #ffc155;

$light-warm-background-color: #ffbb42;

