section#choos-price.choos-price
    .choos-price__content.container
        .heading Choos your price
        .choos-price__heading-text.heading-text Lorem Ipsum is simply dummy text of the printing typesetting.
        .choos-price__price-card-list
            article.choos-price__item.card
                header.card__heading Basic plan
                .card__currency $
                .card__price 22
                .card__period per month
                ul.card__description-list
                    li.card__item 1 Account
                    li.card__item 8 hour support
                    li.card__item Custom Cloud Services
                .card__button
                    a.button(href='#') Get Started
            article.choos-price__item.card.card_best-offer
                header.card__heading Premium plan
                .card__currency $
                .card__price 42
                .card__period per month
                ul.card__description-list
                    li.card__item 2 Account
                    li.card__item 100MB Storage
                    li.card__item Custom Cloud Services
                .card__button
                    a.button(href='#') Get Started
            article.choos-price__item.card
                header.card__heading Gold plan
                .card__currency $
                .card__price 62
                .card__period per month
                ul.card__description-list
                    li.card__item 8 Account
                    li.card__item 24 hour support
                    li.card__item Custom Cloud Services
                .card__button
                    a.button(href='#') Get Started