footer.page-footer
    .page-footer__content.container
        ul.nav-menu
            li.nav-menu__item
                a.nav-menu__link(href='/') Home
            li.nav-menu__item
                a.nav-menu__link(href='/our-services.html') Service
            li.nav-menu__item
                a.nav-menu__link(href='/about-us.html') About us
            li.nav-menu__item
                a.nav-menu__link(href='/choos-price.html') Pricing Table
            li.nav-menu__item
                a.nav-menu__link(href='/how-it-works.html') How it work
            li.nav-menu__item
                a.nav-menu__link(href='/happy-clients.html') Happy Clients
            li.nav-menu__item
            a.nav-menu__link(href='#contacts') Contact Us
        #contacts.page-footer__contacts
            span.page-footer__phone-number
                i.page-footer__phone-icon.fa.fa-phone
                |  +987 9976 999
            span.page-footer__social-media
                i.page-footer__social-media-icon.fa.fa-twitter(aria-hidden='true')
                i.page-footer__social-media-icon.fa.fa-facebook(aria-hidden='true')
                i.page-footer__social-media-icon.fa.fa-google-plus(aria-hidden='true')
                i.page-footer__social-media-icon.fa.fa-linkedin(aria-hidden='true')
    .page-footer__copyright
        | All contents &copy; copyright 2014 Business Theme. All rights reserved Designed by : akhilwebfolio