section#happy-clients.happy-clients
    .happy-clients__content.container
        .heading.heading_light Happy Clients
        .heading-text.heading-text_light We are explain who is using our business solutions
        .happy-clients__testimonials
            .happy-clients__row
                .happy-clients__item.testimonial
                    .testimonial__avatar
                        img.testimonial__avatar-image(src='./img/happy-clients_avatar1.jpg' alt='')
                    .testimonial__text-wrapper
                        .testimonial__quote-decoration
                            span.testimonial__open-quote-decoration
                        .testimonial__text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 
                            | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
                            span.testimonial__close-quote-decoration
                        .testimonial__author-wrapper
                            span.testimonial__author.testimonial__author_name Darwin Michle,
                            span.testimonial__author.testimonial__author_post  Project manager
                .happy-clients__item.testimonial
                    .testimonial__avatar
                        img.testimonial__avatar-image(src='./img/happy-clients_avatar2.jpg' alt='')
                    .testimonial__text-wrapper
                        .testimonial__quote-decoration
                            span.testimonial__open-quote-decoration
                        .testimonial__text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrystandard 
                            | dummy text ever since the 1500s, wen an unknown printer took a galley of type and scrambled to make a type specimen book.
                            span.testimonial__close-quote-decoration
                        .testimonial__author-wrapper
                            span.testimonial__author.testimonial__author_name Madam Elisabath,
                            span.testimonial__author.testimonial__author_post  Creative Director
            .happy-clients__row
                .happy-clients__item.testimonial
                    .testimonial__avatar
                        img.testimonial__avatar-image(src='./img/happy-clients_avatar3.jpg' alt='')
                    .testimonial__text-wrapper
                        .testimonial__quote-decoration
                            span.testimonial__open-quote-decoration
                        .testimonial__text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 
                            | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
                            span.testimonial__close-quote-decoration
                        .testimonial__author-wrapper
                            span.testimonial__author.testimonial__author_name Clips arter,
                            span.testimonial__author.testimonial__author_post  Lipsum directer
                .happy-clients__item.testimonial
                    .testimonial__avatar
                        img.testimonial__avatar-image(src='./img/happy-clients_avatar4.jpg' alt='')
                    .testimonial__text-wrapper
                        .testimonial__quote-decoration
                            span.testimonial__open-quote-decoration
                        .testimonial__text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrystandard 
                            | dummy text ever since the 1500s, wen an unknown printer took a galley of type and scrambled to make a type specimen book.
                            span.testimonial__close-quote-decoration
                        .testimonial__author-wrapper
                            span.testimonial__author.testimonial__author_name zam cristafr,
                            span.testimonial__author.testimonial__author_post  manager