header.page-header
    .page-header__content.container
        .page-header__logo.logo
            img.logo__image(src='./img/logo.png' alt='')
        ul.nav-menu.nav-menu_top
            li.nav-menu__item
                a.nav-menu__link.nav-menu__link(href='/') Home
            li.nav-menu__item
                a.nav-menu__link.nav-menu__link(href='/our-services.html') Service
            li.nav-menu__item
                a.nav-menu__link.nav-menu__link(href='/about-us.html') About us
            li.nav-menu__item
                a.nav-menu__link.nav-menu__link(href='/choos-price.html') Pricing Table
            li.nav-menu__item
                a.nav-menu__link.nav-menu__link(href='/how-it-works.html') How it work
            li.nav-menu__item
                a.nav-menu__link.nav-menu__link(href='/happy-clients.html') Happy Clients
            li.nav-menu__item
                a.nav-menu__link.nav-menu__link(href='#contacts') Contact Us